body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: sans-serif;
    overflow: hidden;
}
#globeViz {
    width: 100vw;
    height: 100vh;
    margin-top: 80px;
}
.ui {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.top { top: 20px; }
.bottom { bottom: 40px; }

.panel {
    background: rgba(20,20,20,0.9);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #444;
    pointer-events: auto;
    text-align: center;
}

button {
    padding: 10px 15px;
    margin: 4px;
    border-radius: 12px;
    border: 1px solid #555;
    background: #111;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
button.selected {
    background: #fff;
    color: #000;
}
